/contact.html
/contact-cards.html
/resume.html

/assets/img/volunteering/20170825_195026.jpg
/assets/img/volunteering/20170829_103807.jpg
/assets/img/volunteering/20180808_093659.jpg
/assets/img/volunteering/IMG-20170825-WA0047.jpg
/assets/img/volunteering/IMG-20170825-WA0056.jpg
/assets/img/volunteering/IMG_4712.JPG
/assets/img/volunteering/IMG_4926.JPG
/assets/img/volunteering/IMG_4937.JPG
/assets/img/volunteering/IMG_4938.JPG
/assets/img/volunteering/IMG_4966.JPG
/assets/img/volunteering/Norway.jpg
/assets/img/volunteering/Screenshot_20180726-222854.jpg

/assets/img/story/ESTALMAT.jpg
/assets/img/story/Graduation.jpg
/assets/img/story/SADEI18.jpg

/assets/img/interests/India.jpg
/assets/img/interests/Norway.jpg
/assets/img/interests/Rugby.jpg
/assets/img/interests/Rugby2.jpg
/assets/img/story/4a.jpg
/assets/img/story/4b.jpg
/assets/img/story/4c.jpg
/assets/img/story/4d.jpg
/assets/img/story/4e.jpg
/assets/img/story/DeepLearningAI.png
/assets/img/story/double-degree.pdf
/assets/img/story/ESTALMAT.jpg
/assets/img/story/Graduation.jpg
/assets/img/story/IMG-20190131-WA0057.jpg
/assets/img/story/IMG-20190209-WA0016.jpg
/assets/img/story/IMG-20190209-WA0078.jpg
/assets/img/story/logoUniovi.jpg
/assets/img/story/R logo.png
/assets/img/story/SADEI18.jpg
/assets/img/story/Tour Eiffel.png
